@using MvcCv.Models.Entity;
@model List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Adres</td>
        <td>Telefon</td>
        <td>Mail</td>
        <td>Açıklama</td>
        <td>Resim</td>
        <td>Düzenle</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Adres</td>
            <td>@item.Telefon</td>
            <td>@item.Mail</td>
            <td>@item.Aciklama</td>
            <td>@item.Resim</td>
            <td><a href="/Hakkimda/HakkimdaGuncelleme/@item.ID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }

</table>

